body {
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* ----- TYPOGRAPHY ----- */

h1, 
h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    /* font-size: 36px;  36/ 16 = 2.25*/
    font-size: 2.25em;
}

h2 {
    color: #451c7a;
    /* font-size: 28px; 28/16 = 1.75 */
    font-size: 1.75em;
    margin-top: 0;
}

h3 {
    /* font-size: 20px; 20/16 = 1.25 */
    font-size: 1.25em;
}

p {
    line-height: 23px;
}

.subheading {
    display: block;
    /* font-size: 20px; 20/36 = 0.56 */
    font-size: 0.56em;
    color: #d0aaff;
}

.section-two h2 {
    color: inherit;
}

/* ----- LINKS ----- */

a {
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, 
a:active {
    color: #d4b44c;
}

.btn {
    font-size: 1.125em; /* 18px */
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-dark {
    color: whitesmoke;
    background: #5f29a3;
}

.btn-mid {
    color: #5f29a3; 
    background: #f0e0ff; 
}

.btn-light {
    color: #5f29a3; 
    background: whitesmoke;
}

.btn:hover, 
.btn:active {
    color: #2b238a;
    background-color: #f3e885;
}

/* ----- LAYOUT ----- */

header, 
section, 
footer {
    padding: 2.875em 0;
}

header, 
.section-two {
    background-color: #5f29a3;
}

.section-two {
    color: whitesmoke;
}


.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    
}

.main-image {
    width: 100%;
    
    max-width: 600px;
    display: block;
    margin: 0 auto 2em;
}

.section-two-image-container {
    display: flex;
    justify-content: space-between;
}

.feature-image {
    width: 48%;
    border-radius: 4.6px;
}

footer {
    text-align: center;
    color: #5f29a3;
}